<!-- copies navigation list to a content box and hides first list item -->
<script>
$(document).ready(function () {
    var nav = $('#s-lg-guide-tabs');
    var list = nav.html();
    var tocWidget = $('#guide-toc');
    tocWidget.append(list);
    $('#guide-toc ul').removeAttr('class');
    $('#guide-toc li').removeAttr('role');
    $('#guide-toc li:first-of-type').addClass('hidden');
    tocWidget.removeClass('hidden');
    });
</script>
<div id="guide-toc" class="hidden"></div>